{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <div class="well well-lg" style="min-height:20rem">
        <h3>Contact</h3>
        <hr>
        <p>
          Please send all the questions and enquiries to <a href="mailto:zeochoy@link.cuhk.edu.hk">zeochoy@link.cuhk.edu.hk</a>.
        </p>
      </div>

      <div class="well well-lg" style="min-height:20rem">
        <h3>Reference</h3>
        <hr>
        <p>
          We hope to provide a reference soon!
        </p>
      </div>

    </div>
  </div>
{% endblock %}
