{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="row">
    <!--Intro Panel-->
    <div class="col-sm-7">
      <div class="well well-lg" style="min-height:40rem">
        <h3>ReSim</h3>
        <hr>
        <p>
          ReSim (chemoREsistance SIMulator) simulates cancer chemoresistance dynamics. It is based on a stochastic model describing the interaction between chemotheraputics and various cancer cell subpopulations (including sensitive, primary resistant, aquired resistant and quiescent cancer cells).<br><br>

          Web application (powered by <a href="http://flask.pocoo.org" target="_blank">Flask</a>) provides a simplified version, and a convenient way to visualize result. Use CUI if you need more control in input params. Both versions are written in Python2.7.
        </p>
      </div>
    </div>

    <!--GetStarted Panel-->
    <div class="col-sm-5">
      <div class="well well-lg" style="min-height:20rem">
        <h3>Get Started</h3>
        <hr>
        <p>
          Let's start using ReSim.
        </p>
        <hr>
        <a href="/resim" class="btn btn-primary" role="button">Simulate</a>
      </div>
    </div>

    <!--News Panel-->
    <div class="col-sm-7">
      <div class="well well-lg" style="min-height:20rem">
        <h3>Latest News</h3>
        <hr>
        <p>
          <ins>01/2018</ins>&nbsp;&nbsp;&nbsp;
          Currently in beta release. Reposited in <a href="http://github.com/zeochoy/resim" target="_blank"><i class="fa fa-github"></i>&nbsp;GitHub</a>.
        </p>
      </div>
    </div>

  </div>
{% endblock %}
